@tailwind base;
@tailwind components;
@tailwind utilities;

/* data attribute must be with class data-tooltip="Play" */
.copy-container:hover #tooltip {
  display: block !important;
}

body {
  background-color: black;
  background-image: black;
}
.tool:hover #tooltip {
  display: block !important;
}

#tooltip {
  display: none;
  position: absolute;
  top: -28% !important;
  left: 94% !important;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  transition: opacity 0.3s;
  white-space: nowrap;
}

#tooltip.show {
  opacity: 1;
}

.tooltip {
  position: relative;
}

.tooltip::before {
  content: attr(data-tooltip);
  position: absolute;
  top: -200%;
  left: 50%;
  transform: translateX(-50%);
  padding: 5px 8px;
  background-color: #000;
  white-space: nowrap;
  color: #fff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, visibility 0.2s ease;
}

.tooltip:hover::before {
  opacity: 1;
  visibility: visible;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
}
